*{margin: 0;
padding: 0;
box-sizing: border-box;}
body{
    background-color: hsl(0,0%,12%);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.image-box{
    height: 800px;
 /* width: 50vw; */
    overflow: hidden;

}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-box{
    padding-inline: 10em;
}
.title{
    font-size: 5em;
    max-width: max-content;
    margin-block-end: 0.25em;
}
.text{
    opacity: 0.6;
    line-height: 1.50;
}
