*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(195, 173, 173);
    display: flex;
    align-items: center;
    justify-content: center;
}
#left,#right{
    border: 2px dotted white;
    width: 300px;
    min-height: 400px;
    margin: 40px;

}
.list{
    border-radius: 12px;
    width: 180px;
    height: 60px;
    background-color: rgb(50, 46, 47);
    margin: 20px;
    margin-top: 25px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}