*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #0f1111;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.amazon_logo{
    height: 45px;
    width: 50px;
    
    
}
.logo{
    background-image: url('amazon_logo.png');
    background-size: cover;
    height: 45px;
    width: 50px;

}
body{
    font-family: 'Rubik', sans-serif;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.nav-Adress{
    color: white;
    /* display: flex; */
}
.small_font{
    font-size: 0.85rem;
}
.nav-search{
    height: 45px;
    width: 500px;
    display: flex;
}
input{
    font-size: 1rem;
    /* height: 45px; */
    width: 100%;
    border-radius: 2px;
    border: none;
}
select{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 60px;
    border: none;
    background-color: rgb(185, 183, 183);
    text-align: center;
}
.white{
    color: white;
}
span{
    font-size: 0.85rem;
}
.border1
{
    border: 2px solid transparent;
}
.border1:hover{
    border: 2px solid sandybrown;
}
.panal{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panal-ops p{
    display: inline;
    margin-left: 15px;
}
.panal-ops{
    font-size: 0.85rem;
    width: 70%;
}
.panal-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url('BACKGROUND_AMAZON.jpg');
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    

}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
     color: #007185;
}
.shop-section{
    background-color: rgba(250, 128, 114, 0.733);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.box{
    /* border: 2px solid black; */
    width: 20%;
    height: 400px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 15px;
   
}
.box-image{
 height: 300px;
 background-size: cover;

 
}
.box-content{
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}
.box p a{
    color: #007185;
    cursor: pointer;

}
footer{
    margin-top: 15px;
}
.foot-panal1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
}
.foot-panal2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}
.foot-panal2 ul{
    margin-top: 20px;
}
.foot-panal2 a{
    margin-top: 10px;
    font-size: 0.85rem;
    display: block;
    color: #dddddd;
}
.foot-panal3{
    background-color: #222f3d;
    color: #dddddd;
    height: 70px;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
}
.foot-panal4{
    background-color: #0f1111 ;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 80px;
   
}.pages{
    padding-top: 25px;
    text-align: center;
font-size: 0.7rem;

}.copyright
{text-align: center;
font-size: 0.7rem;
padding-top: 5px;
align-self: flex-end;
}