*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
 font-family: "Poppins", sans-serif;

}
body{
    overflow-x: hidden;
}
.section1{
height: 100%;
width: 100%;
/* background-color: bisque; */
position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 5vh;
}
.part2{
    display: flex;
    gap:4vw;
    align-items: center;
    justify-content: center;
}
nav h1{
    font-size: 5vh;
}
nav h1 i{
    display: inline-block;
    rotate: 45deg;
}
nav h4{
    font-size: 3vh;
}
nav button{
    font-size: 3vh;
    padding: 2vh 2vh;
    border-radius: 10px;
    border:1.5px solid black;
    background-color: transparent;
}
#center{
    /* background-color: red; */
    height: 60%;
    /* width: 100%; */
  padding: 30px;
    display: flex;
   margin-bottom: 10px;

}
.center-part1{
    height: 100%;
    width: 60%;
    padding: 3vh 9vh;
    /* background-color: palevioletred; */
   
}
.center-part2{
    height: 90%;
    /* background-color: lightblue; */
    width: 40%;
       padding: 3vh 10vh;
    position: relative;
   
}
.center-part1 h1{
    font-size: 8vh;
    width: 87%;
    line-height: 1;
    /* background-color: red; */
}
.center-part1 p{
    margin-top: 20px;
    font-size: 16px;
}
.center-part1 button{
    margin-top: 10px;
   padding: 10px 20px;
   background-color: black;
   color: white;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 600;
   border: none;
}
.center-part2 img{

    position: absolute;
    height: 90%;
}
.section1bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 10px 30px;
   margin: 10px;
}
.section1bottom img{
    height: 40px;
}
.section2{
    margin-top: 10px;
}
.section2 .services{
    /* background-color: red; */
    padding: 35px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.services h3{
    background-color: #9AE975;
    font-weight: 500;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
}
.services p{
    width: 40%;
    font-size: 12px;
}
.container{
    height: 89%;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container .elem{
height: 300px;
width: 40%;
flex-shrink: 0;
border-radius: 20px;
border: 3px solid black;
margin: 15px;
/* background-color: red; */
box-shadow: 0 10px 0 #0e0e0e;
padding: 10px;
display: flex;
justify-content: space-between;

}
.elem-part1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;

}
.elem-part1 h4{
    font-size: 22px;
}
.elem-part1 i{
    font-size: 30px;
}
.elem-part2{
    height: 100%;
    width: 50%;
}
.elem-part2 img{
    height: 100%;
    width:90%;
}
.elem-part1 h2{
    font-size: 20px;
   width: 80%;
    background-color: #9AE975;
}
.black{
    background-color: black;
    color: white;
}
.black h2{
    background-color: white;
    color: black;
}

/* Section 3 */
.section3 {
  width: 90%;
  height: 50vh;
  background-color: rgb(223, 217, 217);
  padding: 40px;
  margin: 50px 5% ; /* centered */
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.section3-part1{
    height: 100%;width: 60%;

}
.section3-part1 button{
    margin-top: 10px;
    background-color: black;
    padding: 15px 15px;
    color: white;
    border-radius: 4px;
    border: none;
}
.section3-part2{
    width: 40%;
    height: 100%;
    position: relative;
    padding: 0 130px;
}
.section3-part2 img{
    position: absolute;
    height: 100%;
}

.section4 .services {
  padding: 35px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer{
    height: 40vh;
    width: 90%;
    background-color: rgb(25, 24, 24);
    margin: 30px 5%;
    margin-bottom: 50px;
    border-radius: 20px;
    color: white;
    display: flex;
    padding: 30px;
justify-content: space-evenly;
align-items: center;
}
.footer h4{
    font-size: 18px;
margin-top: 30px;
color: #9AE975;
}
